{% extends "base.html" %}
{% block content %}

	<!-- Contact section  -->
	<!--section class="contact-section"-->
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="contact-text">
						<h3>Get in touch</h3>
						<p>Your valuable feedback is very important for me. Please feel free to contact me and suggest how can I serve you better. You can contact me in below address. </p>
						<ul>
							<li>342 A, Sishu Vihar, Patia <br>Bhubaneswar 751024,</li>
							<li>Odisha, India</li>
							<li>+91 8249738871</li>
                            <li>Go through the map below for a visit </li>
							<li><a href="mailto:sudhansu.sekhar@gmail.com">mail Me</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-8">
                    <h3>User Registration Form</h3>
                    <br>

                <form class="needs-validation" action="register" method="post" novalidate>
                  {% csrf_token %}
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label for="validationCustom01">First name</label>
                      <input type="text" class="form-control" id="validationCustom01" value=""  name="first_name" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="validationCustom02">Last name</label>
                      <input type="text" class="form-control" id="validationCustom02" value="" name="last_name" required>
                      <div class="valid-feedback">
                        Looks good!
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="validationCustom03">User Name</label>
                    <input type="text" class="form-control" id="validationCustom03" value="" name="username" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password1" required>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="exampleInputPassword2">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" name="password2" required>
                  </div>
                </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                {% for message in messages %}
                    <div>
                        <br><small style="color:#FF0000"><b>{{message}}</b></small>
                    </div>
                 {% endfor %}
                </form>

                <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function() {
                  'use strict';
                  window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                       if (form.checkValidity() === false) {
                         event.preventDefault();
                         event.stopPropagation();
                       }
                        form.classList.add('was-validated');
                        }, false);
                      });
                     }, false);
                  })();
                </script>
			</div>
		</div>
        </div>
	<!--/section-->
	<!-- Contact section end  -->
    <!-- Google Map -->
    <br>
	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3740.869979361415!2d85.8192354143963!3d20.34698931607898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1909114da27d7d%3A0xda6fcbbd60fec3ef!2sSishu%20Vihar%20Rd%2C%20Patia%2C%20Bhubaneswar%2C%20Odisha%20751024!5e0!3m2!1sen!2sin!4v1590500809832!5m2!1sen!2sin" style="border:0" allowfullscreen></iframe>
	</div>
	<!-- Google Map end -->

{% endblock %}

