{% extends "base.html" %}
{% block content %}
	<!-- Portfolio section  -->
	<div class="portfolio-3-section">
		<ul class="portfolio-filter pf-2 controls text-center">
			<li class="control" data-filter="all">All</li>
			<li class="control" data-filter=".nature">Nature</li>
			<li class="control" data-filter=".lifestyle">Lifestyle</li>
			<li class="control" data-filter=".fashion">Fashion</li>
			<li class="control" data-filter=".floral">Floral</li>
		</ul>

		<div class="portfolio-grid portfolio-gallery nature">
			<div class="grid-sizer"></div>
			{% for i in page_obj %}
			<div class="{{ forloop.counter0|add:page_obj.start_index }}"></div>
			{% if i.img_category == 'Floral' %}
			<div class="mix grid-item floral">
			{% elif i.img_category == 'Lifestyle' %}
			<div class="mix grid-item grid-width-1 lifestyle">
			{% elif i.img_category == 'Fashion' %}
			<div class="mix grid-item fashion">
			{% elif i.img_category == 'Nature' %}
			<div class="mix grid-item grid-width-1 nature">
			{% endif %}

				<div class="grid-portfolio">
					<img src="{{i.img.url}}" alt="">
					<h6 align="center">{{i.img_category}}</h6>
					<p align="center">{{i.img_desc}}</p>
				</div>

			</div>

			{% endfor %}
		</div>

		<section class="intro-section">
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
    			<li><span class="step-links">
				{% if page_obj.has_previous %}
					<a href="?page=1">&nbsp;first</a>
					<a href="?page={{ page_obj.previous_page_number }}">&nbsp;previous&laquo;</a>
				{% endif %}
				<span class="current">
            	Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        		</span>
        		{% if page_obj.has_next %}
            		<a href="?page={{ page_obj.next_page_number }}">&nbsp;&raquo;next</a>
            		<a href="?page={{ page_obj.paginator.num_pages }}">&nbsp;last </a>
        		{% endif %}
				</span></li>
			</ul>
		</nav>
		</section>
	</div>

	<!-- Portfolio section end  -->
{% endblock %}
			</div>
		</div>
	</div>

